@import url(./font.css);
@import url('https://fonts.cdnfonts.com/css/eksell-display-trial');

:root {
    --primary: #3685FB;
    --title-clr: #002248;
    --text-clr: #697687;
    --light: #fff;
    --blue-dark: #002248;
    --gray: #f8f8f8;
    --blue-light: #00B3A0;
    --nurmal: 1rem;
    --md: 1.25rem;
    --lg: 2rem;
    --xl: 2.625rem;
    --xxl: 3.75rem;
    --transition: 0.4s;
    /* root fonts Roboto */
    --RR: "Roboto-R";
    --RM: "Roboto-M";
    --RB: "Roboto-B";
    --RBK: "Roboto-BK";
    /* root fonts Alkatra */
    --AL-R: "Alkatra-R";
    --AL-M: "Alkatra-M";
    --AL-SB: "Alkatra-SB";
    --AL-B: "Alkatra-B";
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    background: var(--gray);
    overflow-x: hidden;

}

body::-webkit-scrollbar {
    background-attachment: fixed;
}

.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    padding: 27px 0px;
    height: 100px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.header-nav_link {
    color: var(--title-clr);
    font-family: var(--RR);
    font-size: var(--md);
    font-weight: 400;
    line-height: var(--lg);
    transition: var(--transition);
}

.header-nav_link:hover {
    transform: scale(1.1);

}

.register-btn {
    width: 120px;
    height: 50px;
    padding: 16px 28px;
    border-radius: 10px;
    background-color: var(--primary);
    border: transparent;

    color: var(--light);

}

.register-btn:hover {
    animation-name: btn;
    animation-duration: 0.7s;
    cursor: pointer;
}

@keyframes btn {
    from {
        background-color: var(--primary);
    }

    to {
        background: scroll #3685fba5;
    }
}

.burger-menu {
    width: 35px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.burger-menu span {
    width: 100%;
    height: 2px;
    background-color: var(--blue-dark);
    position: relative;
    transition: var(--transition);
}

.burger-menu span::before,
.burger-menu span::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 100%;
    background-color: var(--blue-dark);
    transition: var(--transition);
}

.burger-menu span::after {
    top: 10px;
}

/* header banner */
.banner {
    width: 100%;
    padding-block: 50px;
}

.banner-box {
    display: flex;
    align-items: end;
    justify-content: center;
    column-gap: 33px;
    flex-wrap: wrap;
}

.banner-img-box {
    display: flex;
    align-items: baseline;
    justify-content: center;

}

.first-img,
.second-img {
    border-radius: 570px;
    border: 10px solid #FFF;
    background: #001835;
    overflow: hidden;
}

.second-img {
    transform: translateX(-13rem) translateY(3rem);
}

.banner-info {
    width: 564px;
    overflow: hidden;
}

.banner-info_subtitle {
    margin: 0;
    text-align: left;
    font-size: var(--md);
    font-family: var(--AL-M);
    color: var(--blue-light);
    padding-bottom: 15px;
}

.banner-info_title {
    color: var(--Blue-Dark, #002248);
    font-family: Eksell Display sans-serif;
    font-size: var(--xxl);
    font-weight: 550;
    line-height: 72px;
    /* 120% */
    text-transform: capitalize;
    padding-bottom: 22px;
}

.banner-info_text {
    width: 513px;
    color: var(--Paragraph-Color-H3, #697687);

    /* Paragraph */
    font-family: Airbnb Cereal App;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 49px;
    /* 175% */
}

.banner-info_btn {
    width: 170px;
    height: 60px;
    border-radius: 10px;
    background: #3685FB;

    color: #FFF;
    text-align: center;
    border: transparent;
    font-family: var(--AL-B);
    font-size: 16px;

    font-weight: 700;
    line-height: 20px;
    /* 125% */
}

.banner-info_btn:hover {
    animation-name: btn;
    animation-duration: 0.7s;
    cursor: pointer;
}

.banner-book {
    margin-left: 16rem;
    transform: translateY(15rem);
    overflow: hidden;
}

.book-box {
    width: 980px;
    height: 144px;
    padding: 44.23px 0;
    padding-left: 72px;
    background: #FCFCFC;
    border-radius: 25px;
    filter: drop-shadow(0px 40px 170px rgba(0, 34, 72, 0.07));
    display: flex;
    align-items: center;

}

select {
    border: transparent;
    background: transparent;
    margin-right: 102px;
    padding-right: 5px;
    color: var(--title-clr);
    font-family: var(--RM);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 100% */
}

.book-btn {
    width: 210px;
    height: 143.84px;
    transform: translateX(10rem);
    border: transparent;
    border-radius: 0px 30px 30px 0px;
    background: #3685FB;
    box-shadow: 8px 20px 39px 10px rgba(0, 0, 0, 0.04);
}

.book-btn:hover {
    animation-name: btn;
    animation-duration: 0.7s;
    cursor: pointer;
}

.btn-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;

}

.btn-info_subtitle {
    color: var(--light);
    font-size: var(--nurmal);
    font-family: var(--RB);
}

.select_subtitle {
    color: #697687;
    font-family: var(--AL-M);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 100% */
}

.select-box,
.select-box2,
.select-box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

/* section2 find */
.find {
    padding-block: 20rem;
}

.find-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;

}

.find-info_subtitle {
    color: var(--blue-light);
    font-size: var(--nurmal);
    font-family: var(--AL-M);
    text-align: center;
    font-weight: 500;
}

.find-info_title {
    color: var(--title-clr);
    font-size: var(--xl);
    font-family: Eksell Display;
    font-weight: 700;
    text-transform: capitalize;
}

.find-info_text {
    width: 568px;
    color: var(--text-clr);
    text-align: center;
    font-family: var(--AL-M);
    font-weight: 400;
}

.find-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

.find-ms-box {
    max-width: 370px;
    padding: 50px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    border-radius: 10px;
    border: 2px solid #F8F8F8;
    background: #FFF;
    margin-top: 70px;
    transition: 0.5s;
}
.find-ms-box:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 18px 1px #d8d8d8;
    
}

.ms-img {
    text-align: center;
}
.find-ms-info {
    text-align: center;
}
.find-ms-info_title {
    margin-top: 30px;
    width: 254px;
    color: var(--title-clr);
    font-family: var(--AL-M);
    line-height: 25px;
    font-size: var(--md);
} 
.find-ms-info_text {
    margin-top: 20px;
    width: 236px;
    color: var(--text-clr);
    font-size: var(--nurmal);
    font-family: var(--RR);
    line-height: 28px;
}