@import url(./font.css);
:root {
    --primary:#3685FB;
    --title-clr:#002248;
    --text-clr:#697687;
    --light:#fff;
    --gray:#f8f8f8;
    --nurmal:1rem;
    --md:1.25rem;
    --lg:2rem;
    --xl:2.625rem;
    --xxl:3.75rem;
    --transition:0.4s;
    /* root fonts Roboto */
    --RR:"Roboto-R";
    --RM:"Roboto-M";
    --RB:"Roboto-B";
    --RBK:"Roboto-BK";
    /* root fonts Alkatra */
    --AL-R:"Alkatra-R";
    --AL-M:"Alkatra-M";
    --AL-SB:"Alkatra-SB";
    --AL-B:"Alkatra-B";
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
.container {
    max-width: 1210px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    height: 100vh;
}
.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 27px;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}
.header-nav_link {
    color: var(--title-clr);
    font-family: var(--RR);
    font-size: var(--md);
    font-weight: 400;
    line-height: var(--lg);
    transition: var(--transition);
}
.header-nav_link:hover {
    transform: scale(1.1);
    
}
.register-btn {
    width: 120px;
    height: 50px;
    padding: 16px 28px;
    border-radius: 10px;
    background-color: var(--primary);
    border: transparent;

    color: var(--light);
    
}
.register-btn:hover {
    animation-name: btn;
    animation-duration: 0.7s;
    cursor: pointer;
}
@keyframes btn {
    from {
        background-color: var(--primary);
    }
    to {
        background: scroll #3685fba5;
    }
}

.burger-menu {
    width: 60px;
    height: 50px;
    border: 2px solid #002248;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: none;
}
.burger-menu span {
    position: absolute;
    left: 5px;
    top: 1vh;
    width: 80%;
    height: 4px;
    background-color: #002248;
}
.burger-menu span::after{
    content: "";
    position: absolute;
    display: block;
    text-align: center;
    top: 1.8vh;
    width: 100%;
    height: 4px;
    background-color: #002248;
}

.burger-menu span::before{
    content: "";
    position: absolute;
    display: block;
    text-align: center;
    top: 3.6vh;
    width: 100%;
    height: 4px;
    background-color: #002248;
}
/* header banner */
