@import url(./main.css);
@media (max-width:1024px) {
    .header-nav_link {
        font-size:var(--nurmal);
    }
}
@media (max-width:768px) {
    .header-nav_link {
        display: none;
    }
    .register-btn {
        display: none;
    }
    .burger-menu {
        display: block;
        
    }
}
@media (max-width:425px) {
    
}
@media (max-width:375px) {
    
}
@media (max-width:320px) {
    
}